<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <h1>用户注册</h1>

    <form method="post" action="/post/reg">
        <div>
        用户名:
        <input type="text" name="uu"/>
    </div>
    <div>
        密码:
        <input type="password" name="pp"/>
    </div>
    <div>
        性别:
        <input type="radio" name="gender" value="男"/>男
        <input type="radio" name="gender" value="女"/>女
    </div>
    <div>
        爱好:
        <input type="checkbox" name="hobby" value="篮球"/>篮球
        <input type="checkbox" name="hobby" value="网球"/>网球
        <input type="checkbox" name="hobby" value="跑步"/>跑步
    </div>
    <div>
        所在城市:
        <select name="city">
            <option value="北京">北京</option>
            <option value="上海">上海</option>
            <option value="深圳">深圳</option>
        </select>
    </div>
    <div>
        擅长领域:
        <select name="skill" multiple>
            <option value="吃">吃</option>
            <option value="喝">喝</option>
            <option value="玩">玩</option>
            <option value="乐">乐</option>
        </select>
    </div>
    <div>
        备注：<textarea name="more"></textarea>
    </div>
    <div>
        <input type="submit" value="submit按钮">
    </div>
    </form>

</head>
<body>

</body>
</html>